### IntelliJ IDEA ###
.idea

### Netbeans ###
/August-2024/02.08.2024/build/
/August-2024/02.08.2024/nbproject/private/
/Lab Work/August-2024/02.08.2024/nbproject/private/
/Lab Work/August-2024/02.08.2024/build/
